---
http_interactions:
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=id,games&search=Nintendo%20Switch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":130,"games":[38983,885,11529,19081,19175,29525,36846,27081,27298,26165,74161,55044,11776,7346,26764,19550,19554,26765,13197,26771,26775,19457,13163,25599,26761,8618,26831,26845,26848,26872,8617,26300,14298,26890,18861,27037,6866,26364,14593,19220,18158,27242,26768,36794,27367,27377,2177,27407,17069,27397,27434,27435,27436,27438,26363,27441,27443,23689,11247,9567,20392,27378,11598,25653,27447,27526,11122,27527,27529,1879,27532,40968,27519,26760,26762,8959,27534,26774,19576,23910,26816,9484,11070,14694,10760,[...]
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/games/19082?fields=release_dates.platform,release_dates.date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":19082,"release_dates":[{"platform":14,"date":1476662400000},{"platform":49,"date":1476921600000},{"platform":48,"date":1476748800000},{"platform":130,"date":1492041600000},{"platform":49,"date":1477008000000},{"platform":48,"date":1476748800000},{"platform":6,"date":1476748800000},{"platform":14,"date":1476748800000}]}]'
  recorded_at: Mon, 30 Oct 2017 03:13:51 GMT
recorded_with: VCR 2.9.3
