---
http_interactions:
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/games/?fields=name,release_dates.platform,cover.cloudinary_id,game_modes&filter%5Bcategory%5D%5Beq%5D=0&filter%5Bcover.cloudinary_id%5D%5Bexists%5D&filter%5Brelease_dates.platform%5D%5Bexists%5D&search=destiny
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":1939,"name":"Destiny","game_modes":[1,2,3,5],"release_dates":[{"platform":9},{"platform":9},{"platform":49},{"platform":12},{"platform":9},{"platform":48}],"cover":{"cloudinary_id":"gare7ypeguuqmcsoatsu"}},{"id":25657,"name":"Destiny
        2","game_modes":[1,2,3,5],"release_dates":[{"platform":6},{"platform":49},{"platform":48}],"cover":{"cloudinary_id":"o1yenovvskchtjrl48v5"}},{"id":47684,"name":"Fighter
        Destiny 2","release_dates":[{"platform":4}],"cover":{"cloudinary_id":"yrdeqp9wdlukfj1vqsbi"}},{"id":1203,"name":"Tales
        of Destiny 2","game_modes":[1,2],"release_dates":[{"platform":8},{"platform":38}],"cover":{"cloudinary_id":"dfmn0a5ftretm5kppbuw"}},{"i[...]
