---
http_interactions:
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=id,games&search=PlayStation%204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":48,"games":[431,1942,2033,565,2134,2957,1979,2920,3152,3185,1937,3256,3094,4,6632,4756,3191,18968,3091,4754,5772,1887,6030,8236,4755,4071,386,6801,5895,6036,1968,3042,7574,54489,36300,6008,4844,5593,6976,7380,7587,1910,3022,19135,4674,6147,4788,7618,3188,3146,1020,4845,121,19136,5159,5541,7768,5333,2346,5328,7171,7685,27512,5329,7208,5330,3097,5327,4786,7649,7614,3093,7729,7325,1354,8356,8598,8467,7330,6072,7876,7877,1981,7882,7599,7897,14878,7846,6057,8366,3025,7439,2050,3839,6707,7399,1267,8409,8500,8510[...]
[...]
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=id,games&search=Xbox%20One
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":49,"games":[1942,2033,18538,2115,1979,2131,2920,3185,6632,3256,3094,4,5336,4756,3191,3091,[...]
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=id,games&search=Xbox%20360
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":12,"games":[487,1190,1191,1059,1082,983,984,411,416,405,409,1048,21,1238,1239,1247,495,125[...]
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=name&search=PlayStation%204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":48,"name":"PlayStation 4"},{"id":7,"name":"PlayStation"},{"id":8,"name":"PlayStation
        2"},{"id":9,"name":"PlayStation 3"},{"id":38,"name":"PlayStation Portable"},{"id":45,"name":"PlayStation
        Network"},{"id":46,"name":"PlayStation Vita"},{"id":131,"name":"Nintendo PlayStation"}]'
  recorded_at: Wed, 27 Sep 2017 04:22:31 GMT
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/games/?fields=name,release_dates.platform,cover.cloudinary_id,game_modes&filter%5Bcategory%5D%5Beq%5D=0&filter%5Bcover%5D%5Bexists%5D&filter%5Bgame_modes%5D%5Beq%5D=2&filter%5Brelease_dates.date%5D%5Blt%5D=2017-07-02&filter%5Brelease_dates.platform%5D%5Beq%5D=48&limit=40&order=popularity:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":19083,"name":"Drawful 2","game_modes":[2],"release_dates":[{"platform":14},{"platform":6},{"platform":48},{"platform":49}],"cover":{"cloudinary_id":"y9oy3jxnrrcdqamye0ky"}},{"id":7331,"name":"Uncharted
        4: A Thief''s End","game_modes":[1,2],"release_dates":[{"platform":48},{"platform":48},{"platform":48}],"cover":{"cloudinary_id":"tocoysjnay4he4zjdlwo"}}]'
  recorded_at: Wed, 27 Sep 2017 04:22:31 GMT
- request:
    method: get
    uri: https://images.igdb.com/igdb/image/upload/t_cover_big/y9oy3jxnrrcdqamye0ky.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - '"d63cdb065d88d695fdecf820a4c72794"'
      Last-Modified:
      - Sat, 29 Jul 2017 19:20:15 GMT
      Surrogate-Key:
      - 266342701651867211379557486004364856716 162378501521566160570084312131442370478
        10b40cbdf775c10ebe987d8cd9761ae0
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/4gxYSUNDX1BST0ZJTEUAAQEAAAxITGlubwIQAABtbnRyUkdCIFhZWiAHzgACAAkABgAxAABhY3NwTVNGVAAAAABJRUMgc1JHQgAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLUhQICAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFjcHJ0AAABUAAAADNkZXNjAAABhAAAAGx3dHB0AAAB8AAAABRia3B0AAACBAAAABRyWFlaAAAC[...]
- request:
    method: get
    uri: https://images.igdb.com/igdb/image/upload/t_cover_big/tocoysjnay4he4zjdlwo.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - '"28323583d79920da50de9210bdcfc4e8"'
      Last-Modified:
      - Wed, 21 Jun 2017 03:35:08 GMT
      Surrogate-Key:
      - 144954365552316697261727158303473757870 1623785015215661605700843[...]
