---
http_interactions:
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=id,games&search=PlayStation%204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":48,"games":[431,1942,2033,565,2134,20965,2957,1979,2920,3152,3185,1937,3256,3094,4,16765,6632,4756,3191,18968,3091,4754,5772,62711,1887,53805,6030,8236,4755,22775,21729,4071,386,6801,8992,5895,10082,17522,6036,1968,3042,7574,28513,54489,36300,6008,4844,5593,6976,7380,7587,1910,3022,19135,4674,6147,4788,7618,3188,3146,1020,4845,121,19136,5159,5541,7768,5333,2346,5328,7171,7685,27512,5329,7208,5330,3097,5327,4786,7649,7614,3093,7729,7325,1354,8356,8598,8467,7330,6072,7876,7877,1981,7882,7599,7897,14878,11203[...]
[...]
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=id,games&search=Xbox%20One
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":49,"games":[1942,9061,2033,18538,2115,1979,2131,2920,3185,6632,3256,3094,4,5336,4756,3191,[...]
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=id,games&search=Xbox%20360
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":12,"games":[487,1190,1191,1059,1082,983,984,411,416,405,409,1048,21,1238,1239,1247,495,125[...]
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/platforms/?fields=name&search=PlayStation%204
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":48,"name":"PlayStation 4"},{"id":7,"name":"PlayStation"},{"id":8,"name":"PlayStation
        2"},{"id":9,"name":"PlayStation 3"},{"id":38,"name":"PlayStation Portable"},{"id":45,"name":"PlayStation
        Network"},{"id":46,"name":"PlayStation Vita"},{"id":131,"name":"Nintendo PlayStation"}]'
  recorded_at: Mon, 30 Oct 2017 03:07:27 GMT
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/games/?fields=name,release_dates.platform,release_dates.date,cover.cloudinary_id,game_modes&filter%5Bcategory%5D%5Beq%5D=0&filter%5Bcover%5D%5Bexists%5D&filter%5Bgame_modes%5D%5Beq%5D=2&filter%5Brelease_dates.date%5D%5Blt%5D=2017-07-02&filter%5Brelease_dates.platform%5D%5Beq%5D=48&limit=40&order=popularity:desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":1020,"name":"Grand Theft Auto V","game_modes":[1,2],"release_dates":[{"platform":9,"date":1379376000000},{"platform":9,"date":1379376000000},{"platform":49,"date":1416268800000},{"platform":48,"date":1416268800000},{"platform":12,"date":1379376000000},{"platform":9,"date":1379376000000},{"platform":6,"date":1428969600000}],"cover":{"cloudinary_id":"vdzfsbissgp55fvfxccp"}},{"id":11588,"name":"Quiplash","game_modes":[2],"release_dates":[{"platform":6,"date":1435622400000},{"platform":6,"date":1435622400000},{"platform":14,"date":1435622400000},{"platform":49,"date":1435622400000},{"platform":9,"date":1435622400000},{"platform":48,"date":1435622400000}],"cover":{"cloudinary_id":"jyhhzwg7aijvr0gkpgah"}}]'
  recorded_at: Mon, 30 Oct 2017 03:07:27 GMT
- request:
    method: get
    uri: https://images.igdb.com/igdb/image/upload/t_cover_big/vdzfsbissgp55fvfxccp.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - '"3076e70e5dc296abc1fd450956183a14"'
      Last-Modified:
      - Sat, 21 Oct 2017 06:11:53 GMT
      Surrogate-Key:
      - 319447936876387109173759615739873272749 162378501521566160570084312131442370478
        10b40cbdf775c10ebe987d8cd9761ae0
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCAFGAQgDASIAAhEBAxEB/8QAHgAAAgIDAQEBAQAAAAAAAAAACAkGBwAFCgEEAgP/xAB0EAABAwMDAgMFBAMH[...]
- request:
    method: get
    uri: https://images.igdb.com/igdb/image/upload/t_cover_big/jyhhzwg7aijvr0gkpgah.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - '"54fd68a03c975e011908a0533263cd06"'
      Last-Modified:
      - Sat, 21 Oct 2017 02:37:31 GMT
      Status:
      - 200 OK
      Surrogate-Key:
      - 199852908347898545047852268513739174490 162378501521566160570084312131442370478
        10b40cbdf775c10ebe987d8cd9761ae0
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQEAlgCWAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wAARCACzAQgDASIAAhEBAxEB/8QAHgAAAAYDAQEAAAAAAAAAAAAA[...]
