---
http_interactions:
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/games/25657?fields=name,release_dates.platform,release_dates.date,cover.cloudinary_id,game_modes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":25657,"name":"Destiny 2","game_modes":[1,2,3,5],"release_dates":[{"platform":6,"date":1508803200000},{"platform":49,"date":1504656000000},{"platform":48,"date":1504656000000}],"cover":{"cloudinary_id":"o1yenovvskchtjrl48v5"}}]'
  recorded_at: Mon, 30 Oct 2017 03:11:17 GMT
recorded_with: VCR 2.9.3
