---
http_interactions:
- request:
    method: get
    uri: https://igdbcom-internet-game-database-v1.p.mashape.com//games/25657?fields=name,release_dates.platform,cover.cloudinary_id,game_modes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - 6Qo8sTOCiZmshuepqRyRlGFb4bBgp1WbPzgjsn8rqiqjqEKikI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '7000'
      X-Ratelimit-Requests-Remaining:
      - '6985'
    body:
      encoding: UTF-8
      string: '[{"id":25657,"name":"Destiny 2","game_modes":[1,2,3,5],"release_dates":[{"platform":6},{"platform":49},{"platform":48}],"cover":{"cloudinary_id":"o1yenovvskchtjrl48v5"}}]'
  recorded_at: Fri, 30 Jun 2017 16:56:17 GMT
recorded_with: VCR 2.9.3
