---
http_interactions:
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/games/25657?fields=name,release_dates.platform,cover.cloudinary_id,game_modes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      user-key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '7000'
      X-Ratelimit-Requests-Remaining:
      - '6765'
    body:
      encoding: UTF-8
      string: '[{"id":25657,"name":"Destiny 2","game_modes":[1,2,3,5],"release_dates":[{"platform":6},{"platform":49},{"platform":48}],"cover":{"cloudinary_id":"o1yenovvskchtjrl48v5"}}]'
  recorded_at: Sun, 02 Jul 2017 18:41:00 GMT
recorded_with: VCR 2.9.3
