---
http_interactions:
- request:
    method: get
    uri: https://igdbcom-internet-game-database-v1.p.mashape.com//games/?fields=name,release_dates.platform,cover.cloudinary_id,game_modes&filter%5Brelease_dates.date%5D%5Blt%5D=2017-06-28&limit=1&offset=0&search=destiny
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - 6Qo8sTOCiZmshuepqRyRlGFb4bBgp1WbPzgjsn8rqiqjqEKikI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Requests-Limit:
      - '7000'
      X-Ratelimit-Requests-Remaining:
      - '6987'
    body:
      encoding: UTF-8
      string: '[{"id":1939,"name":"Destiny","game_modes":[1,2,3,5],"release_dates":[{"platform":49},{"platform":12},{"platform":9},{"platform":48}],"cover":{"cloudinary_id":"gare7ypeguuqmcsoatsu"}}]'
  recorded_at: Fri, 30 Jun 2017 16:39:46 GMT
recorded_with: VCR 2.9.3
