---
http_interactions:
- request:
    method: get
    uri: https://api-2445582011268.apicast.io/games/?fields=name,release_dates.platform,release_dates.date,cover.cloudinary_id,game_modes&filter%5Brelease_dates.date%5D%5Blt%5D=2017-06-28&limit=1&offset=0&search=destiny
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 87a1b4c54c376447a8cd24b4be77ae8e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":1939,"name":"Destiny","game_modes":[1,2,3,5],"release_dates":[{"platform":9,"date":1410220800000},{"platform":9,"date":1410220800000},{"platform":49,"date":1410220800000},{"platform":12,"date":1410220800000},{"platform":9,"date":1410220800000},{"platform":48,"date":1410220800000}],"cover":{"cloudinary_id":"gare7ypeguuqmcsoatsu"}}]'
  recorded_at: Mon, 30 Oct 2017 03:11:17 GMT
recorded_with: VCR 2.9.3
