<div class="panel panel-default index-filters">
  <div class="panel-body">
    <% @consoles.each do |c| %>
      <%= link_to c.name, games_path(console: c.id, search: params[:search]),
          class: "btn btn-default#{add_console_color_to_button(c)}" %>
    <% end %>
    <%= link_to "All", games_path(search: params[:search]),
        class: "btn btn-default btn-filter-all#{' disabled' if params[:console].nil?}" %>
  </div>
</div>
<% if params[:search] && @games.blank? %>
  <p class="search-apology">We're sorry but we couldn't find the game you're looking for.</p>
<% end %>
<div class="row">
  <%= render partial: "game", collection: @games %>
</div>
