/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
 font-family: 'Glyphicons Halflings';
 src: url(asset_path('glyphicons-halflings-regular.eot'));
 src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
      url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
      url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
      url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

$monokai-blue:            #4DBBDD;
$monokai-brighter-blue:   #39c4ef;
$monokai-gold:            #E3D96E;
$monokai-green:           #9CD62C;
$monokai-brighter-green:  #a5ec18;
$monokai-orange:          #ec7813;
$monokai-pink:            #EF266F;
$monokai-purple:          #AE81FF;
$monokai-white:           #F8F8F2;

/*------* Main Content (Application Layout) *------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("/backgrounds/black_linen_v2.png");
  background-color: #252525;
  color: #cccccc;
  margin-bottom: 50px;
}

#main-div {
  margin-top: 20px;
}

.devise-forms .btn-success, .form-group .btn-success {
  background: -webkit-linear-gradient(top, #00b300, #006600);
  background: -o-linear-gradient(top, #00b300, #006600);
  background: -moz-linear-gradient(top, #00b300, #006600);
  background: linear-gradient(top, #00b300, #006600);
  background-color: #5cb85c;
  border-color: #003300;
}

.devise-forms .btn-success:hover, .form-group .btn-success:hover {
  border-color: #003300;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
     -moz-box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
          box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
}

.devise-forms .btn-danger, .form-group .btn-danger {
  background: -webkit-linear-gradient(top, #cc0000, #990000);
  background: -o-linear-gradient(top, #cc0000, #990000);
  background: -moz-linear-gradient(top, #cc0000, #990000);
  background: linear-gradient(top, #cc0000, #990000);
  background-color: #d9534f;
  border-color: #660000;
}

.devise-forms .btn-danger:hover, .form-group .btn-danger:hover {
  border-color: #660000;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #660000,inset 0 5px 30px #330000;
     -moz-box-shadow: inset 0 0 0 1px #660000,inset 0 5px 30px #330000;
          box-shadow: inset 0 0 0 1px #660000,inset 0 5px 30px #330000;
}

.devise-forms .btn-primary {
  background: -webkit-linear-gradient(top, #0044cc, #003399);
  background: -o-linear-gradient(top, #0044cc, #003399);
  background: -moz-linear-gradient(top, #0044cc, #003399);
  background: linear-gradient(top, #0044cc, #003399);
  background-color: #337ab7;
  border-color: #002266;
  color: $monokai-white;
}

.devise-forms .btn-primary:hover, .devise-forms .btn-primary:active {
  border-color: #002266;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #002266,inset 0 5px 30px #001133;
     -moz-box-shadow: inset 0 0 0 1px #002266,inset 0 5px 30px #001133;
          box-shadow: inset 0 0 0 1px #002266,inset 0 5px 30px #001133;
}

.alert-disappear {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 1001;
}

.alert-disappear ul {
  list-style: none;
}

/*------* Header Navbar *------*/

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background: -webkit-linear-gradient(top, #333333, #242424);
  background: -o-linear-gradient(top, #333333, #242424);
  background: -moz-linear-gradient(top, #333333, #242424);
  background: linear-gradient(top, #333333, #242424);
  background-color: #262626;
  border-color: #262626;
}

.navbar-inverse .navbar-header a {
  color: $monokai-brighter-blue;
  font-family: 'Geo';
  font-size: 24px;
  font-style: italic;
}

.navbar-inverse .navbar-header a:hover {
  color: $monokai-brighter-green;
}

.navbar-inverse .navbar-nav li a {
  color: $monokai-white;
}

.navbar-inverse .navbar-nav li a:hover {
  color: $monokai-brighter-green;
}

#search-box {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
}

#search-box:focus{
  background-color: white;
  border-color: white;
  box-shadow: none;
}

#search-btn {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
}

.navbar-nav .user-nav-dropdown.open a:focus, .navbar-nav .user-nav-dropdown.open a {
  background-color: inherit;
  color: $monokai-brighter-green;
}

.user-nav-dropdown.open .dropdown-menu {
  background: #242424;
}

.user-nav-dropdown.open .dropdown-menu li a {
  color: $monokai-white;
}

.user-nav-dropdown.open .dropdown-menu li a:hover {
  color: $monokai-brighter-green;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .user-nav-dropdown.open .dropdown-menu>li>a {
    color: $monokai-white;
  }

  .navbar-inverse .navbar-nav .user-nav-dropdown.open .dropdown-menu>li>a:hover {
    color: $monokai-brighter-green;
  }
}

/*------ Games#Index ------*/

.index-game-div {
  height: 250px;
}

.index-cover-image-div {
  border-radius: 6px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 109px;
}

.index-cover-image {
  border-radius: 6px;
}

.index-game-div h4 {
  color: $monokai-orange;
  font-weight: 400;
  margin-bottom: 5px;
}

.index-game-div h4 a {
  color: inherit;
}

.index-game-div p {
  font-size: 13px;
}

span.playstation {
  color: $monokai-blue;
}

span.xbox {
  color: $monokai-green;
}

.index-filters {
  background: none;
  border: none;
  text-align: center;
}

.index-filters .btn-filter-all {
  background: -webkit-linear-gradient(top, #bfbfbf, #808080);
  background: -o-linear-gradient(top, #bfbfbf, #808080);
  background: -moz-linear-gradient(top, #bfbfbf, #808080);
  background: linear-gradient(top, #bfbfbf, #808080);
  background-color: #bfbfbf;
  border-color: #4d4d4d;
  width: 70px;
}

.index-filters .btn-filter-all.disabled, .index-filters .btn-filter-all:hover {
  border-color: #4d4d4d;
  color: #1a1a1a;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #666666,inset 0 5px 30px #4d4d4d;
     -moz-box-shadow: inset 0 0 0 1px #666666,inset 0 5px 30px #4d4d4d;
          box-shadow: inset 0 0 0 1px #666666,inset 0 5px 30px #4d4d4d;
}

.index-filters .btn.disabled {
  opacity: 1;
}

.index-filters .btn-xbox {
  color: #fff;
  background: -webkit-linear-gradient(top, #5cb85c, #367c36);
  background: -o-linear-gradient(top, #5cb85c, #367c36);
  background: -moz-linear-gradient(top, #5cb85c, #367c36);
  background: linear-gradient(top, #5cb85c, #367c36);
  background-color: #5cb85c;
  border-color: #275927;
  text-shadow: 2px 2px 5px #2f6a2f;
}

.index-filters .btn-xbox.disabled, .index-filters .btn-xbox:hover, .index-filters .btn-xbox:active {
  border-color: #173517;
  color: #fff;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
     -moz-box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
          box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
}

.index-filters .btn-playstation {
  color: #e6f4ff;
  background: -webkit-linear-gradient(top, #0079D0, #004a80);
  background: -o-linear-gradient(top, #0079D0, #004a80);
  background: -moz-linear-gradient(top, #0079D0, #004a80);
  background: linear-gradient(top, #0079D0, #004a80);
  background-color: #0079D0;
  border-color: #002d4d;
  text-shadow: 2px 2px 5px #003c66;
}

.index-filters .btn-playstation.disabled, .index-filters .btn-playstation:hover, .index-filters .btn-playstation:active {
  border-color: #001e33;
  color: #e6f4ff;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #002d4d,inset 0 5px 30px #001e33;
     -moz-box-shadow: inset 0 0 0 1px #002d4d,inset 0 5px 30px #001e33;
          box-shadow: inset 0 0 0 1px #002d4d,inset 0 5px 30px #001e33;
}

.index-filters .btn-nintendo {
  color: #fff;
  background: -webkit-linear-gradient(top, #ff3333, #cc0000);
  background: -o-linear-gradient(top, #ff3333, #cc0000);
  background: -moz-linear-gradient(top, #ff3333, #cc0000);
  background: linear-gradient(top, #ff3333, #cc0000);
  background-color: #ff3333;
  border-color: #990000;
  text-shadow: 2px 2px 5px #b30000;
}

.index-filters .btn-nintendo.disabled, .index-filters .btn-nintendo:hover, .index-filters .btn-nintendo:active {
  border-color: #660000;
  color: #fff;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #990000,inset 0 5px 30px #660000;
     -moz-box-shadow: inset 0 0 0 1px #990000,inset 0 5px 30px #660000;
          box-shadow: inset 0 0 0 1px #990000,inset 0 5px 30px #660000;
}

.search-apology {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

#load_more_games {
  margin-bottom: 30px; /* Some margin to separate it from the footer */
}

.index-games-sort p .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.index-games-sort a, .index-games-sort p {
  color: $monokai-white;
  padding: 0 12px;
}

/*------ Games#Show ------*/

.show-game {
  color: $monokai-white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.show-cover-image {
  border-radius: 10px;
}

#show-game-name {
  color: $monokai-orange;
}

.show-game-online-status {
  color: $monokai-gold;
}

.ownerships-form-div {
  margin-top: 20px;
}

.ownerships-form-div .well {
  background-color: #282828;
  border-color: #262626;
}

.lfg-form .panel {
  background-color: #282828;
  border-color: #262626;
}

.lfg-form h5 {
  font-weight: 700;
  margin-top: 0;
}

.show-game h4 {
  color: $monokai-gold;
  margin-bottom: 20px;
}

.game-lfgs-list .panel {
  background-color: #282828;
  border-color: #262626;
}

.game-lfgs-list h4 {
  color: $monokai-gold;
}

.game-lfgs-list .table>tbody>tr>th, .game-lfgs-list .table>tbody>tr>td, .my-lfgs .table>tbody>tr>th, .my-lfgs .table>tbody>tr>td {
  vertical-align: middle;
}

.game-lfgs-list .table>tbody>tr>td, .my-lfgs .table>tbody>tr>td {
  background: #404040;
  border-color: #595959;
}

.game-lfgs-list span.lfg-username, .game-lfgs-list span.lfg-username a,
.my-lfgs span.lfg-game-console, .my-lfgs span.lfg-game-console a {
  color: $monokai-orange;
  font-weight: 400;
}

.lfgs-specifics-header {
  color: $monokai-purple;
}

.lfgs-specifics {
  min-width: 300px;
}

.game-lfgs-list .lfg-when, .my-lfgs .lfg-when {
  color: $monokai-gold;
}

span.lfg-chat-btns, a.lfg-chat-btns {
  color: $monokai-pink;
}

a.lfg-chat-btns:hover {
  color: #f471a1;
}

.game-lfgs-list .table-striped > tbody > tr:nth-child(2n+1) > td, .game-lfgs-list .table-striped > tbody > tr:nth-child(2n+1) > th,
.my-lfgs .table-striped > tbody > tr:nth-child(2n+1) > td, .my-lfgs .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #333333;
   border-color: #595959;
}

.game-lfgs-list .table-striped > tbody > tr:nth-child(1) > td, .game-lfgs-list .table-striped > tbody > tr:nth-child(1) > th,
.my-lfgs .table-striped > tbody > tr:nth-child(1) > td, .my-lfgs .table-striped > tbody > tr:nth-child(1) > th {
   background-color: #282828;
}

/*------ Devise ------*/

.devise-forms {
  margin-bottom: 35px;
}

.devise-forms label {
  font-weight: 400;
}

.devise-forms h2 {
  color: $monokai-gold;
  font-weight: 400;
  margin-bottom: 22px;
}

.devise-forms h3 {
  color: $monokai-gold;
  margin-bottom: 22px;
}

.devise-forms p {
  margin-bottom: 0;
}

.devise-forms .panel {
  background-color: #282828;
  border-color: #262626;
  color: $monokai-white;
}

.devise-forms .form-first-name, .devise-forms .form-last-name {
  color: $monokai-blue;
}

.devise-forms .form-username {
  color: $monokai-orange;
}

.devise-forms .form-email {
  color: $monokai-pink;
}

.devise-forms .form-new-pw {
  color: $monokai-green;
}

.devise-forms .form-pw {
  color: $monokai-purple;
}

.devise-forms a {
  color: $monokai-white;
  font-weight: 300;
}

.devise-forms a:hover {
  color: $monokai-green;
  text-decoration: none;
}

.devise-forms a.delete-account-link {
  color: #808080;
}

/*------ Profiles#Show ------*/

.profile-show {
  margin-top: 20px;
  margin-bottom: 35px;
  color: $monokai-white;
}

.profile-show h2 {
  color: $monokai-orange;
}

.edit-profile-link, .edit-profile-link:hover {
  color: $monokai-purple;
}

.profile-info {
  margin-top: 20px;
}

.owned-consoles {
  margin-top: 30px;
}

.owned-consoles h4 {
  margin-bottom: 15px;
  color: $monokai-purple;
  font-weight: 400;
}

.owned-games h3 {
  color: $monokai-purple;
  font-weight: 400;
  margin-bottom: 40px;
}

.owned-consoles .well, .owned-games .well {
  background-color: #282828;
  border-color: #262626;
}

.about-me h5 {
  color: $monokai-pink;
}

.location h5 {
  color: $monokai-gold;
}

.playstation {
  color: $monokai-blue;
}

.xbox {
  color: $monokai-green;
}

.nintendo {
  color: #ff3333;
}

.profile-show .pagination a {
  color: $monokai-white;
}

.profile-show .pagination a:hover {
  color: $monokai-purple;
  text-decoration: none;
}

.profile-show .pagination span, .profile-show .pagination em {
  color: grey;
}

/*------ Profiles#Edit ------*/

.profile-edit .panel {
  background-color: #282828;
  border-color: #262626;
}

.profile-edit {
  color: $monokai-white;
}

.profile-edit h2 {
  color: $monokai-orange;
  font-weight: 400;
}

.profile-form-about-me {
  color: $monokai-pink;
}

.profile-form-location {
  color: $monokai-gold;
}

p.profile-privacy-options-label {
  font-weight: 700;
  margin-bottom: 5px;
}

/*------ My LFGs - Lfgs#Index ------*/

.my-lfgs h3 {
  color: $monokai-gold;
  margin-bottom: 30px;
}

/*------ Admin Dashboard#Index ------*/

.admin-dashboard .panel {
  background-color: #282828;
  border-color: #262626;
}

.admin-dashboard h2 {
  color: $monokai-green;
  font-weight: 400;
  margin-bottom: 30px;
}

.admin-dashboard a {
  text-decoration: none;
}

.count-stats {
  background-color: #4d4d4d;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}

.count-stats:hover {
  background-color: #333333;
}

.count-stats.stats-clicked {
  background-color: #333333;
}

.count-stats span {
  color: $monokai-orange;
}

.count-stats .count {
  color: $monokai-white;
  font-size: 30px;
}

@media (min-width: 768px) {
  .count-stats .count {
    font-size: 40px;
  }
}

.admin-users {
  margin-top: 30px;
}

.admin-back-btn {
  color: $monokai-white;
}

.admin-back-btn:hover {
  color: $monokai-pink;
}

.admin-users h4 {
  color: $monokai-gold;
  font-weight: 400;
}

.admin-users .accounts-count {
  font-size: 30px;
}

.users-table-div {
  margin-top: 30px;
}

.users-table-div .user-info-btn {
  color: $monokai-blue;
  padding: 0;
  padding-right: 12px;
}

.users-table-div .user-info-btn:hover {
  color: #186881;
}

.users-table-div .account-status {
  width: 100px;
}

.users-table-div .glyphicon-ok {
  color: #5cb85c;
}

.users-table-div .glyphicon-remove {
  color: #d9534f;
}

.modal-content {
  background-color: #333333;
  color: $monokai-white;
}

.modal-header .close {
  color: $monokai-white;
  opacity: 1;
  text-shadow: none;
}

.modal-header .close:hover {
  opacity: 0.6;
}

.modal-header h3 {
  color: $monokai-orange;
  display: inline-block;
  font-weight: 400;
}

.modal-header a {
  color: $monokai-green;
}

.modal-header a:hover {
  text-decoration: underline;
}

.modal-body {
  padding-bottom: 40px;
}

.modal-users-name span {
  color: $monokai-blue;
}

.modal-users-name {
  margin-top: 10px;
}

.modal-email span {
  color: $monokai-pink;
}

.modal-account-profile-info {
  margin-bottom: 15px;
}

.modal-location span {
  color: $monokai-purple;
}

.modal-psn-id span {
  color: $monokai-blue;
}

.modal-xbox-gamertag span {
  color: $monokai-green;
}

.modal-about-me span {
  color: $monokai-orange;
}

.modal-count-stats {
  background-color: #4d4d4d;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.modal-count-stats h5 {
  color: $monokai-gold;
}

.modal-count-stats .count {
  color: $monokai-white;
  font-size: 30px;
}

.modal .active, .modal .glyphicon-ok {
  color: #5cb85c;
}

.modal .deleted, .modal .glyphicon-remove {
  color: #d9534f;
}

.modal-backdrop.in {
  opacity: 0.9;
}

.admin-dashboard .table>tbody>tr>th, .admin-dashboard .table>tbody>tr>td {
  vertical-align: middle;
}

.admin-dashboard .table>tbody>tr>td {
  background: #404040;
  border-color: #595959;
}

.admin-dashboard .table-striped > tbody > tr:nth-child(2n+1) > td, .admin-dashboard .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #333333;
   border-color: #595959;
}

.admin-dashboard .table-striped > tbody > tr:nth-child(1) > td, .admin-dashboard .table-striped > tbody > tr:nth-child(1) > th {
   background-color: #282828;
}

#add-game-btn, #add-console-btn {
  margin-bottom: 20px;
}

.add-game-div {
  height: 250px;
}

.games-search-results {
  display: none;
}

.games-search-results .new-game .overlay {
  cursor: pointer;
}

.games-search-results .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.games-search-results .overlay:hover {
  opacity: .8;
}

.games-search-results .text {
  color: white;
  font-size: 17px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.games-search-results h4 {
  color: $monokai-orange;
  font-weight: 400;
  margin-bottom: 5px;
}

.games-search-results, .console-search-results {
  margin-top: 20px;
}

/*------* Footer *------*/

.footer {
  background: -webkit-linear-gradient(bottom, #262626, #242424);
  background: -o-linear-gradient(bottom, #262626, #242424);
  background: -moz-linear-gradient(bottom, #262626, #242424);
  background: linear-gradient(bottom, #262626, #242424);
  background-color: #f5f5f5;
  bottom: 0;
  min-height: 50px;
  position: absolute;
  width: 100%;
}

.footer .container p {
  margin: 15px 0;
}
