/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

@font-face {
 font-family: 'Glyphicons Halflings';
 src: url(asset_path('glyphicons-halflings-regular.eot'));
 src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'),
      url(asset_path('glyphicons-halflings-regular.woff')) format('woff'),
      url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'),
      url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

$monokai-blue:            #4DBBDD;
$monokai-brighter-blue:   #39c4ef;
$monokai-gold:            #E3D96E;
$monokai-green:           #9CD62C;
$monokai-brighter-green:  #a5ec18;
$monokai-orange:          #ec7813;
$monokai-pink:            #EF266F;
$monokai-purple:          #AE81FF;
$monokai-white:           #F8F8F2;

/*------* Main Content (Application Layout) *------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url("/backgrounds/black_linen_V2.png");
  background-color: #FAFAFA;
  color: #cccccc;
  margin-bottom: 50px;
}

#main-div {
  margin-top: 20px;
}

/*------* Header Navbar *------*/

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background: -webkit-linear-gradient(top, #333333, #242424);
  background: -o-linear-gradient(top, #333333, #242424);
  background: -moz-linear-gradient(top, #333333, #242424);
  background: linear-gradient(top, #333333, #242424);
  background-color: #262626;
  border-color: #262626;
}

.navbar-inverse .navbar-header a {
  color: $monokai-brighter-blue;
}

.navbar-inverse .navbar-header a:hover {
  color: $monokai-brighter-green;
}

.navbar-inverse .navbar-nav li a {
  color: $monokai-white;
}

.navbar-inverse .navbar-nav li a:hover {
  color: $monokai-brighter-green;
}

#search-box {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
}

#search-box:focus{
  background-color: white;
  border-color: white;
  box-shadow: none;
}

#search-btn {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
}

.navbar-nav .user-nav-dropdown.open a:focus, .navbar-nav .user-nav-dropdown.open a {
  background-color: inherit;
  color: $monokai-brighter-green;
}

.user-nav-dropdown.open .dropdown-menu {
  background: #242424;
}

.user-nav-dropdown.open .dropdown-menu li a {
  color: $monokai-white;
}

.user-nav-dropdown.open .dropdown-menu li a:hover {
  color: $monokai-brighter-green;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .user-nav-dropdown.open .dropdown-menu>li>a {
    color: $monokai-white;
  }

  .navbar-inverse .navbar-nav .user-nav-dropdown.open .dropdown-menu>li>a:hover {
    color: $monokai-brighter-green;
  }
}

/*------ Games#Index ------*/

.index-game-div {
  height: 250px;
}

.index-cover-image-div {
  border-radius: 6px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 109px;
}

.index-cover-image {
  border-radius: 6px;
}

.index-game-div h4 {
  color: $monokai-orange;
  font-weight: 400;
  margin-bottom: 5px;
}

.index-game-div h4 a {
  color: inherit;
}

.index-game-div p {
  font-size: 13px;
}

span.playstation {
  color: $monokai-blue;
}

span.xbox {
  color: $monokai-green;
}

.index-filters {
  background: none;
  border: none;
  text-align: center;
}

.index-filters .btn-filter-all {
  background: -webkit-linear-gradient(top, #bfbfbf, #808080);
  background: -o-linear-gradient(top, #bfbfbf, #808080);
  background: -moz-linear-gradient(top, #bfbfbf, #808080);
  background: linear-gradient(top, #bfbfbf, #808080);
  background-color: #bfbfbf;
  border-color: #4d4d4d;
  width: 70px;
}

.index-filters .btn-filter-all.disabled, .index-filters .btn-filter-all:hover {
  border-color: #4d4d4d;
  color: #1a1a1a;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #666666,inset 0 5px 30px #4d4d4d;
     -moz-box-shadow: inset 0 0 0 1px #666666,inset 0 5px 30px #4d4d4d;
          box-shadow: inset 0 0 0 1px #666666,inset 0 5px 30px #4d4d4d;
}

.index-filters .btn.disabled {
  opacity: 1;
}

.index-filters .btn-xbox {
  color: #fff;
  background: -webkit-linear-gradient(top, #5cb85c, #367c36);
  background: -o-linear-gradient(top, #5cb85c, #367c36);
  background: -moz-linear-gradient(top, #5cb85c, #367c36);
  background: linear-gradient(top, #5cb85c, #367c36);
  background-color: #5cb85c;
  border-color: #275927;
  text-shadow: 2px 2px 5px #2f6a2f;
}

.index-filters .btn-xbox.disabled, .index-filters .btn-xbox:hover, .index-filters .btn-xbox:active {
  border-color: #173517;
  color: #fff;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
     -moz-box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
          box-shadow: inset 0 0 0 1px #275927,inset 0 5px 30px #173517;
}

.index-filters .btn-playstation {
  color: #e6f4ff;
  background: -webkit-linear-gradient(top, #0079D0, #004a80);
  background: -o-linear-gradient(top, #0079D0, #004a80);
  background: -moz-linear-gradient(top, #0079D0, #004a80);
  background: linear-gradient(top, #0079D0, #004a80);
  background-color: #0079D0;
  border-color: #002d4d;
  text-shadow: 2px 2px 5px #003c66;
}

.index-filters .btn-playstation.disabled, .index-filters .btn-playstation:hover, .index-filters .btn-playstation:active {
  border-color: #001e33;
  color: #e6f4ff;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #002d4d,inset 0 5px 30px #001e33;
     -moz-box-shadow: inset 0 0 0 1px #002d4d,inset 0 5px 30px #001e33;
          box-shadow: inset 0 0 0 1px #002d4d,inset 0 5px 30px #001e33;
}

.search-apology {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

/*------ Games#Show ------*/

.show-game {
  color: $monokai-white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.show-cover-image {
  border-radius: 10px;
}

#show-game-name {
  color: $monokai-orange;
}

.show-game-online-status {
  color: $monokai-gold;
}

.ownerships-form-div {
  margin-top: 20px;
}

.ownerships-form-div .well {
  background-color: #282828;
  border-color: #262626;
}

.lfg-form .panel {
  background-color: #282828;
  border-color: #262626;
}

.lfg-form h5 {
  font-weight: 700;
  margin-top: 0;
}

.show-game h4 {
  color: $monokai-gold;
  margin-bottom: 20px;
}

.game-lfgs-list .panel {
  background-color: #282828;
  border-color: #262626;
}

.game-lfgs-list h4 {
  color: $monokai-gold;
}

.game-lfgs-list .table>tbody>tr>th, .game-lfgs-list .table>tbody>tr>td {
  vertical-align: middle;
}

.game-lfgs-list .table>tbody>tr>td {
  background: #404040;
  border-color: #595959;
}

.game-lfgs-list span.lfg-username, .game-lfgs-list span.lfg-username a {
  color: $monokai-orange;
  font-weight: 400;
}

.lfgs-specifics-header {
  color: $monokai-purple;
}

.lfgs-specifics {
  min-width: 300px;
}

.game-lfgs-list .lfg-when {
  color: $monokai-gold;
}

span.lfg-chat-btns, a.lfg-chat-btns {
  color: $monokai-pink;
}

.game-lfgs-list .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #333333;
   border-color: #595959;
}

.game-lfgs-list .table-striped > tbody > tr:nth-child(1) > td, .table-striped > tbody > tr:nth-child(1) > th {
   background-color: #282828;
}

/*------ Devise ------*/

.devise-forms {
  margin-bottom: 35px;
}

.devise-forms h2 {
  margin-bottom: 22px;
}

.devise-forms h3 {
  margin-bottom: 22px;
}

.devise-forms p {
  margin-bottom: 0;
}

/*------ Profiles#Show ------*/

.profile-show {
  margin-top: 20px;
  margin-bottom: 35px;
  color: $monokai-white;
}

.profile-show h2 {
  color: $monokai-orange;
}

.edit-profile-link, .edit-profile-link:hover {
  color: $monokai-purple;
}

.profile-info {
  margin-top: 20px;
}

.owned-consoles {
  margin-top: 30px;
}

.owned-consoles h4 {
  margin-bottom: 15px;
  color: $monokai-purple;
  font-weight: 400;
}

.owned-games h3 {
  color: $monokai-purple;
  font-weight: 400;
  margin-bottom: 40px;
}

.owned-consoles .well, .owned-games .well {
  background-color: #282828;
  border-color: #262626;
}

.about-me h5 {
  color: $monokai-pink;
}

.location h5 {
  color: $monokai-gold;
}

.gaming-names .playstation {
  color: $monokai-blue;
}

.gaming-names .xbox {
  color: $monokai-green;
}

/*------ Profiles#Edit ------*/

p.profile-privacy-options-label {
  font-weight: 700;
  margin-bottom: 5px;
}

/*------* Footer *------*/

.footer {
  background: -webkit-linear-gradient(bottom, #262626, #242424);
  background: -o-linear-gradient(bottom, #262626, #242424);
  background: -moz-linear-gradient(bottom, #262626, #242424);
  background: linear-gradient(bottom, #262626, #242424);
  background-color: #f5f5f5;
  bottom: 0;
  min-height: 50px;
  position: absolute;
  width: 100%;
}

.footer .container p {
  margin: 15px 0;
}
