<tr class="text-center">
  <td>
    <%= user.id %>
  <td>
    <div>
      <%= user.username %>
    </div>
  </td>
  <td>
    <div>
      <%= user.full_name %>
    </div>
  </td>
  <td>
    <div>
      <%= user.email %>
    </div>
  </td>
  <td>
    <div>
      <% if user.deleted_at %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <% end %>
    </div>
  </td>
</tr>
